

body{
    height: 100vh;
    background-color: #223b29;
    display: flex;
    align-items: center;

}


.contenedor {


    width: 920px;
    height: 280px;
    margin: 0 auto;

    position: relative;

    background: linear-gradient(#95f3c6, #FFE2D1);
    overflow: hidden;

}

.dino {
    width: 84px;
    height: 84px;

    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;

    background: url(/img/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;
}


@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

.dino-corriendo{
    animation: animarDino 0.25s steps(2) infinite;
}

.dino-estrellado{
      background-position-x:252px;
}

.suelo{
    width: 200%;
    height: 42px;

    position:absolute;
    bottom: 0;
    left: 0;

    background: url(/img/suelo.png) repeat-x 0px 0px;
    background-size:50% 42px;
    

}


.score{
    width: 100px;
    height: 30px;

    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 10;

    color: #49aa51;
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;


}



